<div class="row">
    <h1>Hard & Soft Skills</h1>
    <div class="text-center col-sn-4 col-md-4 col-lg-4">
        <circle-progress
  [percent]="85"
  [radius]="100"
  [imageSrc]="'../assets/iconos/html.png'"
  [showImage]="true"
  [imageHeight]="100"
  [imageWidth]="100"
  [showUnits]="false"
  [showSubtitle]="false"
  [outerStrokeWidth]="16"
  [innerStrokeWidth]="2"
  [outerStrokeColor]="'#78C000'"
  [innerStrokeColor]="'#C7E596'"
  [animation]="true"
  [animationDuration]="900"
  ></circle-progress>
    </div>
    <div class="text-center col-sn-4 col-md-4 col-lg-4">
        <circle-progress
  [percent]="40"
  [radius]="100"
  [imageSrc]="'../assets/iconos/CSS.png'"
  [showImage]="true"
  [imageHeight]="100"
  [imageWidth]="100"
  [showUnits]="false"
  [showSubtitle]="false"
  [outerStrokeWidth]="16"
  [innerStrokeWidth]="2"
  [outerStrokeColor]="'#78C000'"
  [innerStrokeColor]="'#C7E596'"
  [animation]="true"
  [animationDuration]="900"
  ></circle-progress>
    </div>
    <div class="text-center col-sn-4 col-md-4 col-lg-4">
        <circle-progress
  [percent]="40"
  [radius]="100"
  [imageSrc]="'../assets/iconos/js.png'"
  [showImage]="true"
  [imageHeight]="100"
  [imageWidth]="100"
  [showUnits]="false"
  [showSubtitle]="false"
  [outerStrokeWidth]="16"
  [innerStrokeWidth]="2"
  [outerStrokeColor]="'#78C000'"
  [innerStrokeColor]="'#C7E596'"
  [animation]="true"
  [animationDuration]="900"
  ></circle-progress>
    </div>
    <div class="text-center col-sn-4 col-md-4 col-lg-4">
        <circle-progress
  [percent]="60"
  [radius]="100"
  [imageSrc]="'../assets/iconos/git.png'"
  [showImage]="true"
  [imageHeight]="100"
  [imageWidth]="100"
  [showUnits]="false"
  [showSubtitle]="false"
  [outerStrokeWidth]="16"
  [innerStrokeWidth]="2"
  [outerStrokeColor]="'#78C000'"
  [innerStrokeColor]="'#C7E596'"
  [animation]="true"
  [animationDuration]="900"
  ></circle-progress>
    </div>
    <div class="text-center col-sn-4 col-md-4 col-lg-4">
        <circle-progress
  [percent]="80"
  [radius]="100"
  [imageSrc]="'../assets/iconos/eng.png'"
  [showImage]="true"
  [imageHeight]="100"
  [imageWidth]="100"
  [showUnits]="false"
  [showSubtitle]="false"
  [outerStrokeWidth]="16"
  [innerStrokeWidth]="2"
  [outerStrokeColor]="'#78C000'"
  [innerStrokeColor]="'#C7E596'"
  [animation]="true"
  [animationDuration]="900"
  ></circle-progress>
    </div>
    <div class="text-center col-sn-4 col-md-4 col-lg-4">
        <circle-progress
  [percent]="70"
  [radius]="100"
  [imageSrc]="'../assets/iconos/grupal.png'"
  [showImage]="true"
  [imageHeight]="100"
  [imageWidth]="100"
  [showUnits]="false"
  [showSubtitle]="false"
  [outerStrokeWidth]="16"
  [innerStrokeWidth]="2"
  [outerStrokeColor]="'#78C000'"
  [innerStrokeColor]="'#C7E596'"
  [animation]="true"
  [animationDuration]="900"
  ></circle-progress>
    </div>
</div>