<div class="row">
    <div class="col-xs-12 col-sn-2 col-md-2 col-lg-2" >
        <img src="../../../assets/img/perfilPhoto.jpg" class="img-fluid" id="fotodeperfil">
    </div>
    <div class="col-xs-12 col-sn-2 col-md-2 col-lg-2">
        <p id="nombre">Lopez Joaquin Fidel</p>
        <p>Full Stack Developer Jr</p>
    </div>
    <div class="col-xs-12 col-sn-2 col-md-2 col-lg-8">
    <span>
        <h1>Acerca de mí</h1>
        <p>
            Hola soy Fidel. estoy aprendiendo a programar ya que me 
            encanta a pesar de que sea frustante y porque creo que es el futuro. Estoy terminando 
            el secundario para adultos ya que por cuestiones personales no 
            pude concluirla en su correspondido tiempo. Todo lo que sé sobre programación, lo cual 
            no es mucho, lo aprendi por internet. Me encanta aprender cosas nuevas y útiles todos 
            los días y entrenar. Cuando termine de pulir lo suficiente mis habilidades de 
            desarrollo web quiero embuirme en la ciencia de datos y/o inteligencia artificial.
        </p>
    </span>
    </div>
</div>