<div class="row">
    <div class="container">
        <div class="logo">
            <img src="../../../assets/img/logos/APLogo.png" id="logoAP">
        </div>
        <div class="redes">
            <a href="https://www.linkedin.com/in/joaquin-fidel-lopez-1032ba255/"><img src="../../../assets/img/logos/linkedin.png" alt=""></a>
            <a href="https://github.com/Fidel9vm"><img src="../../../assets/img/logos/github.png" alt=""></a>
            <a href="https://www.instagram.com/fiidel_09/"><img src="../../../assets/img/logos/instagram.png" alt=""></a>
            <a href="https://www.facebook.com/profile.php?id=100074159995890"><img src="../../../assets/img/logos/facebook.png" alt=""></a>
            
        </div>
        <button type="button" class="btn btn-outline-light">Ingresar</button>
    </div>
</div>
