/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
body{
margin:0;
padding:0;
}

h1{
    font-size: xx-large;
}

.row{
    margin: 0;
}
